# ── сборка ──────────────────────────────────────────────────────────────────
build/
build-*/
out/
cmake-build-*/
*.binlog

# ── Visual Studio / IDE ─────────────────────────────────────────────────────
.vs/
.vscode/
.idea/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# ── прочее ──────────────────────────────────────────────────────────────────
*.tmp
*.log

# Python
__pycache__/
*.pyc

# Отладочные данные (большие файлы, не коммитим)
*.pdb
*.idb
*.i64
*.til
*.map
ida_export.json
pdb_dump*.json
